/* line 56, ../xscss/lefty.scss */
b, strong {
  font-weight: normal;
}

/* line 61, ../xscss/lefty.scss */
#wpadminbar {
  display: none;
}

/* line 65, ../xscss/lefty.scss */
html {
  margin-top: 0px !important;
}

/* line 72, ../xscss/lefty.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 77, ../xscss/lefty.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 85, ../xscss/lefty.scss */
.cf {
  *zoom: 1;
}

/* line 89, ../xscss/lefty.scss */
body {
  font-family: "Courier New", Courier, monospace;
  color: #606060;
  font-size: 16px;
}
@media (max-width: 700px) {
  /* line 89, ../xscss/lefty.scss */
  body {
    font-size: 18px;
  }
}

/* line 100, ../xscss/lefty.scss */
body {
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* line 106, ../xscss/lefty.scss */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* line 113, ../xscss/lefty.scss */
* {
  margin: 0;
}

/* line 116, ../xscss/lefty.scss */
html, body {
  height: 100%;
}

/* line 119, ../xscss/lefty.scss */
#page {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -30px;
}

/* line 124, ../xscss/lefty.scss */
#page:after {
  content: "";
  display: block;
}

/* line 128, ../xscss/lefty.scss */
.site-footer, #page:after {
  /* .push must be the same height as footer */
  height: 30px;
}

/* line 136, ../xscss/lefty.scss */
.entry-header.page {
  display: none;
  border-bottom: 1px solid #606060;
  font-size: 30px;
  font-family: 'stylographnormal';
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  /* line 136, ../xscss/lefty.scss */
  .entry-header.page {
    display: block;
  }
}

@media (max-width: 700px) {
  /* line 147, ../xscss/lefty.scss */
  body.home .entry-header.page {
    display: none;
  }
}

@media (max-width: 700px) {
  /* line 152, ../xscss/lefty.scss */
  body.home #page {
    background-position: -210px 0;
  }
}
/* line 156, ../xscss/lefty.scss */
body.home #page .post-edit-link {
  display: none;
}

/* line 159, ../xscss/lefty.scss */
.mobile-site-title {
  position: absolute;
  left: 200px;
  top: 330px;
  font-family: 'stylographnormal';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

/* line 169, ../xscss/lefty.scss */
#page {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 20px;
}
@media (min-width: 701px) and (max-width: 1024px) {
  /* line 169, ../xscss/lefty.scss */
  #page {
    background-size: 1200px;
  }
}
@media (max-width: 700px) {
  /* line 169, ../xscss/lefty.scss */
  #page {
    padding: 0 20px;
  }
}

@media (max-width: 700px) {
  /* line 183, ../xscss/lefty.scss */
  .site-branding h1 a {
    display: none;
  }
}

/* line 189, ../xscss/lefty.scss */
#wrap {
  width: 560px;
  padding-left: 400px;
  margin: 0 auto;
  margin-top: 100px;
}
@media (min-width: 701px) and (max-width: 1024px) {
  /* line 189, ../xscss/lefty.scss */
  #wrap {
    width: 450px;
    padding-left: 250px;
  }
}
@media (max-width: 700px) {
  /* line 189, ../xscss/lefty.scss */
  #wrap {
    width: 100%;
    padding-left: 0px;
    margin-top: 70px;
  }
}

/* line 207, ../xscss/lefty.scss */
a, a:link, a:visited {
  color: #606060;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* line 212, ../xscss/lefty.scss */
a:hover, a:active, a:link:hover, a:link:active, a:visited:hover, a:visited:active {
  color: #888888;
}

/* line 220, ../xscss/lefty.scss */
#site-navigation ul {
  font-family: 'stylographnormal';
  font-size: 20px;
  text-transform: uppercase;
}
/* line 224, ../xscss/lefty.scss */
#site-navigation ul ul {
  display: none;
  text-align: center;
}
/* line 228, ../xscss/lefty.scss */
#site-navigation ul li {
  display: inline-block;
  margin: 0 15px;
}
@media (min-width: 701px) and (max-width: 1024px) {
  /* line 228, ../xscss/lefty.scss */
  #site-navigation ul li {
    margin: 0 5px;
  }
  /* line 233, ../xscss/lefty.scss */
  #site-navigation ul li:first-of-type {
    margin: 0;
  }
}
@media (min-width: 1025px) {
  /* line 237, ../xscss/lefty.scss */
  #site-navigation ul li:first-of-type {
    margin: 0;
  }
}
/* line 240, ../xscss/lefty.scss */
#site-navigation ul li a {
  padding: 3px 10px;
}
/* line 244, ../xscss/lefty.scss */
#site-navigation ul li a:active, #site-navigation ul li a:hover, #site-navigation ul li a.active {
  background: #606060;
  color: white;
}
/* line 254, ../xscss/lefty.scss */
#site-navigation ul li.menu-item-16 a:hover, #site-navigation ul li.current_page_item.menu-item-16 a, #site-navigation ul li.current_page_parent.menu-item-16 a, #site-navigation ul li.current-menu-item.menu-item-16 a, #site-navigation ul li.active.menu-item-16 a {
  background: transparent url(../img/nav_hover_about.png) no-repeat;
  color: white;
}
/* line 263, ../xscss/lefty.scss */
#site-navigation ul li.menu-item-45 a:hover, #site-navigation ul li.current_page_item.menu-item-45 a, #site-navigation ul li.current_page_parent.menu-item-45 a, #site-navigation ul li.current-menu-item.menu-item-45 a, #site-navigation ul li.active.menu-item-45 a {
  background: transparent url(../img/nav_hover_roster.png) no-repeat;
  color: white;
}
/* line 272, ../xscss/lefty.scss */
#site-navigation ul li.menu-item-19 a:hover, #site-navigation ul li.current_page_item.menu-item-19 a, #site-navigation ul li.current-menu-item.menu-item-19 a, #site-navigation ul li.active.menu-item-19 a {
  background: transparent url(../img/nav_hover_news.png) no-repeat;
  color: white;
}
/* line 282, ../xscss/lefty.scss */
#site-navigation ul li.menu-item-41 a:hover, #site-navigation ul li.current_page_item.menu-item-41 a, #site-navigation ul li.current_page_parent.menu-item-41 a, #site-navigation ul li.current-menu-item.menu-item-41 a, #site-navigation ul li.active.menu-item-41 a {
  background: transparent url(../img/nav_hover_contact.png) no-repeat;
  color: white;
}

/* line 294, ../xscss/lefty.scss */
.single-contact_page #site-navigation li.current_page_parent a,
.single-member #site-navigation li.menu-item-19 a {
  background: transparent;
  color: #606060;
}
@media (max-width: 700px) {
  /* line 294, ../xscss/lefty.scss */
  .single-contact_page #site-navigation li.current_page_parent a,
  .single-member #site-navigation li.menu-item-19 a {
    color: white;
  }
}

/* line 302, ../xscss/lefty.scss */
#regions-navigation {
  font-family: 'stylographnormal';
  border-bottom: 1px solid #606060;
  padding-bottom: 10px;
}
/* line 21, ../xscss/lefty.scss */
#regions-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 25, ../xscss/lefty.scss */
#regions-navigation ul li {
  padding: 0;
  margin: 0;
}
@media (max-width: 700px) {
  /* line 302, ../xscss/lefty.scss */
  #regions-navigation {
    display: none;
  }
}
/* line 311, ../xscss/lefty.scss */
#regions-navigation ul {
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
}
/* line 315, ../xscss/lefty.scss */
#regions-navigation ul li {
  font-size: 14px;
  display: inline-block;
  margin: 0 8px;
}
/* line 319, ../xscss/lefty.scss */
#regions-navigation ul li a {
  padding: 0 6px;
}
/* line 322, ../xscss/lefty.scss */
#regions-navigation ul li a:active, #regions-navigation ul li a:hover {
  background: #606060;
  color: white;
}
/* line 327, ../xscss/lefty.scss */
#regions-navigation ul li.current_page_item a, #regions-navigation ul li.current_page_parent a, #regions-navigation ul li.active a {
  background: transparent url(../img/subnav_hover_eastwestcoast.png) no-repeat;
  color: white;
}

/* line 340, ../xscss/lefty.scss */
.single-member #regions-navigation {
  border: none;
}

/* line 343, ../xscss/lefty.scss */
.site-footer {
  font-family: 'stylographnormal';
  font-weight: bold;
  padding-left: 40px;
}
@media (max-width: 700px) {
  /* line 343, ../xscss/lefty.scss */
  .site-footer {
    text-align: center;
    padding: 0;
    font-size: 11px;
  }
}

/* line 359, ../xscss/lefty.scss */
article.post .posted-on {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
/* line 363, ../xscss/lefty.scss */
article.post .entry-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
}
/* line 368, ../xscss/lefty.scss */
article.post header {
  border-bottom: 1px solid #606060;
  margin-top: 40px;
}

/* line 376, ../xscss/lefty.scss */
.contact-top {
  margin-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #606060;
}
/* line 381, ../xscss/lefty.scss */
.contact-top .c-l, .contact-top .c-r {
  float: left;
  width: 50%;
}
@media (max-width: 700px) {
  /* line 381, ../xscss/lefty.scss */
  .contact-top .c-l, .contact-top .c-r {
    float: none;
    width: 100%;
  }
}
/* line 387, ../xscss/lefty.scss */
.contact-top .c-l h3, .contact-top .c-r h3 {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 392, ../xscss/lefty.scss */
.contact-top .c-l p, .contact-top .c-r p {
  padding: 0;
  margin: 0;
}
/* line 395, ../xscss/lefty.scss */
.contact-top .c-l p.tel, .contact-top .c-r p.tel {
  padding-top: 20px;
}

@media (max-width: 700px) {
  /* line 402, ../xscss/lefty.scss */
  .contact-top .c-l {
    margin-bottom: 20px;
  }
}

/* line 408, ../xscss/lefty.scss */
.contact-info {
  float: left;
  width: 50%;
}
@media (max-width: 700px) {
  /* line 408, ../xscss/lefty.scss */
  .contact-info {
    float: none;
    width: 100%;
  }
}
/* line 414, ../xscss/lefty.scss */
.contact-info h1, .contact-info h2 {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 418, ../xscss/lefty.scss */
.contact-info h2 {
  font-size: .8em;
}

/* line 423, ../xscss/lefty.scss */
.fb {
  font-weight: bold;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 426, ../xscss/lefty.scss */
.fb strong {
  font-size: 12px;
}
/* line 430, ../xscss/lefty.scss */
.fb a, .fb a:link {
  line-height: 26px;
  font-size: 13px;
  background-color: red;
  background-position: 0px  0px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  color: white;
  display: block;
  padding: 6px 5px 4px 20px;
  width: 97px;
  text-align: right;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 446, ../xscss/lefty.scss */
.fb a:hover, .fb a:active, .fb a:link:hover, .fb a:link:active {
  background-color: #888888;
}

/* line 452, ../xscss/lefty.scss */
.ind-top strong {
  margin-bottom: 6px;
}

/* line 456, ../xscss/lefty.scss */
.signup {
  width: 300px;
  float: left;
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 462, ../xscss/lefty.scss */
.signup strong {
  font-size: 12px;
  display: block;
}
/* line 467, ../xscss/lefty.scss */
.signup input {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #606060;
  border-radius: 2px;
  padding: 3px;
  width: 200px;
  line-height: 25px;
  font-size: 13px;
}
/* line 477, ../xscss/lefty.scss */
.signup button {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-transform: uppercase;
  background: #888888;
  color: white;
  padding: 3px 6px;
  border: 1px solid #888888;
  margin-left: 10px;
  border-radius: 0;
  line-height: 25px;
  font-size: 13px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 489, ../xscss/lefty.scss */
.signup button:hover {
  background: #aaaaaa;
  border: 1px solid #aaaaaa;
}

/* line 498, ../xscss/lefty.scss */
.ind-top .fb {
  width: 200px;
  float: left;
}
/* line 501, ../xscss/lefty.scss */
.ind-top .fb strong {
  display: block;
}
/* line 502, ../xscss/lefty.scss */
.ind-top .fb a {
  line-height: 26px;
  font-size: 13px;
}

/* line 510, ../xscss/lefty.scss */
.ind-top {
  margin-top: 20px;
  line-height: 1em;
}

/* line 515, ../xscss/lefty.scss */
.roster-member {
  margin-top: 20px;
  font-size: 16px;
}
/* line 518, ../xscss/lefty.scss */
.roster-member .entry-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
}
/* line 522, ../xscss/lefty.scss */
.roster-member .talent {
  border-top: 1px solid #606060;
  padding-top: 15px;
  margin-top: 10px;
}
/* line 21, ../xscss/lefty.scss */
.roster-member .talent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 25, ../xscss/lefty.scss */
.roster-member .talent ul li {
  padding: 0;
  margin: 0;
}
/* line 528, ../xscss/lefty.scss */
.roster-member .talent ul {
  float: left;
  width: 50%;
}
@media (max-width: 700px) {
  /* line 528, ../xscss/lefty.scss */
  .roster-member .talent ul {
    float: none;
    width: 100%;
  }
}
/* line 538, ../xscss/lefty.scss */
.roster-member .talent ul.col1 li, .roster-member .talent ul.col2 li {
  padding: 2px 0;
}
/* line 544, ../xscss/lefty.scss */
.roster-member .infoinfo {
  margin-top: 25px;
}
/* line 546, ../xscss/lefty.scss */
.roster-member .infoinfo h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
}

@media (max-width: 700px) {
  /* line 559, ../xscss/lefty.scss */
  .menu-toggle {
    background: #606060;
    color: white;
    font-size: 24px;
    padding: 3px 6px;
    font-family: 'stylographnormal';
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

/* line 577, ../xscss/lefty.scss */
.mobile-menu {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0 -20px 0 -20px;
  display: none;
  font-family: 'stylographnormal';
}
/* line 581, ../xscss/lefty.scss */
.mobile-menu h1 {
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
}
/* line 586, ../xscss/lefty.scss */
.mobile-menu #menu-main-menu {
  padding-bottom: 20px;
}
/* line 590, ../xscss/lefty.scss */
.mobile-menu ul#menu-main-menu li {
  font-size: 36px;
  font-family: 'stylographnormal';
  display: block;
}
/* line 594, ../xscss/lefty.scss */
.mobile-menu ul#menu-main-menu li ul {
  display: block;
  float: none;
  position: relative;
  top: 0;
  box-shadow: none;
  list-style-type: disc;
  padding-left: 25px;
}
/* line 602, ../xscss/lefty.scss */
.mobile-menu ul#menu-main-menu li ul li {
  display: list-item;
  text-align: left;
}
/* line 604, ../xscss/lefty.scss */
.mobile-menu ul#menu-main-menu li ul li a {
  width: 100%;
  padding-left: 0;
}
/* line 612, ../xscss/lefty.scss */
.mobile-menu ul#menu-main-menu li ul li:before a {
  content: '-';
}
/* line 619, ../xscss/lefty.scss */
.mobile-menu h1, .mobile-menu ul, .mobile-menu .close, .mobile-menu a, .mobile-menu a:link, .mobile-menu a:visited {
  background: #606060;
  color: white;
}
/* line 624, ../xscss/lefty.scss */
.mobile-menu .close {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px;
}
/* line 629, ../xscss/lefty.scss */
.mobile-menu ul#menu-main-menu li {
  display: block;
}

/* line 634, ../xscss/lefty.scss */
.regs-menu {
  display: block;
}
@media (max-width: 700px) {
  /* line 634, ../xscss/lefty.scss */
  .regs-menu {
    display: none;
  }
}

/* line 640, ../xscss/lefty.scss */
a.more-link {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 0px;
  font-size: 12px;
}

/* line 647, ../xscss/lefty.scss */
.secondary-headline {
  text-transform: uppercase;
  margin-bottom: 7px;
}

/* line 652, ../xscss/lefty.scss */
.arch {
  font-family: 'stylographnormal';
  text-align: left;
  padding-left: 0px;
  text-transform: uppercase;
  margin: 10px 0;
}
@media (max-width: 700px) {
  /* line 652, ../xscss/lefty.scss */
  .arch {
    display: none;
  }
}
/* line 21, ../xscss/lefty.scss */
.arch ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 25, ../xscss/lefty.scss */
.arch ul li {
  padding: 0;
  margin: 0;
}
/* line 662, ../xscss/lefty.scss */
.arch li {
  font-size: .9em;
  display: inline;
}
/* line 665, ../xscss/lefty.scss */
.arch li:last-of-type:after {
  content: '';
}
/* line 668, ../xscss/lefty.scss */
.arch li:after {
  content: ' /';
}
/* line 672, ../xscss/lefty.scss */
.arch li a {
  display: inline-block;
  margin-right: 10px;
}
/* line 676, ../xscss/lefty.scss */
.arch li a:active, .arch li a:hover {
  background: #606060;
  color: white;
}

/* line 687, ../xscss/lefty.scss */
#nav-below {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin-top: 50px;
}
/* line 692, ../xscss/lefty.scss */
#nav-below a {
  padding: 10px;
  background: #606060;
  color: white;
}

/* line 698, ../xscss/lefty.scss */
.archive .page-title {
  font-weight: bold;
  text-transform: uppercase;
}

/* line 706, ../xscss/lefty.scss */
.page-id-23 #content, .page-id-21 #content {
  font-size: 16px;
}

/* line 711, ../xscss/lefty.scss */
.homer {
  display: none;
  position: absolute;
}
@media (max-width: 700px) {
  /* line 711, ../xscss/lefty.scss */
  .homer {
    display: block;
  }
}

/* line 720, ../xscss/lefty.scss */
.roster-list {
  margin-top: 20px;
}
/* line 21, ../xscss/lefty.scss */
.roster-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 25, ../xscss/lefty.scss */
.roster-list ul li {
  padding: 0;
  margin: 0;
}
/* line 724, ../xscss/lefty.scss */
.roster-list ul li {
  padding: 2px 0;
}
@media (max-width: 700px) {
  /* line 724, ../xscss/lefty.scss */
  .roster-list ul li {
    float: none;
    width: 100%;
  }
}

/* line 734, ../xscss/lefty.scss */
.backr {
  font-family: 'stylographnormal';
  padding-left: 18px;
  background-position: 0 5px;
  cursor: pointer;
}
